.DS_Store
vendor
build
dump.rdb
Application/etc/config.xml
rsync-preprod.sh
rsync-exclude
rsync.sh
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.config
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
