.DS_Store
vendor
build
dump.rdb
rsync-preprod.sh
rsync-exclude
rsync.sh
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.config
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
